{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Create a team{% endblock %}

{% block body %}
	<div class="container col-md-4">
		<form action="" method="POST" name="teamForm" onsubmit="return(validate());">
			<div class="form-group">
				<label class="control-label col-md-6 text-right" for="inputName">Team name</label>
				<div class="col-md-6">
					<input class="form-control" id="team_name" type="text" name="team_name" placeholder="Team name" required autofocus>
				</div>
			</div>
			<button class="btn btn-primary" id="teamButton" type="submit">Create</button>
			<button class="btn btn-danger" id="cancelButton" type="submit">Cancel</button>
		</form>
    </div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(
	    function validate()
	    {
	        $('#teamButton').click(
	        function()
	        {
	        	if ($('#team_name').val().length != 0 && $('#team_name').val().length <= 50)
	        	{
	        		$(this).closest("form").attr("action", "{{ path('user_createTeam', {'league_id': league_id}) }}");
	        	}
	        	else
	        	{
	        		alert("The name of the team must be 1-50 characters");
	        		$('#team_name').focus();
	        		return false;
	        	}
	        });

	        $('#cancelButton').click(
	        function()
	        {
	        	$(this).closest("form").attr("action", "{{ path('user_listTeams') }}");
	        });
	    });
	</script>
{% endblock %}