.navbar {
	background-color: #002E6E;
	border-radius: 0px;
}

.navbar a {
    color: white;
}

th {
	background-color: #003C8F;
	color: #FFFFFF;
}

.glyphicon {
	margin-right: 15px;
}

.sidebar {
	width: 241px;
	padding: 10px;
	display: inline-block;
	float: right;
	border-left: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.footer {
	text-align: center;
	margin-bottom: 0.75%;
}

.btn {
	margin: 5px;
}