.navbar {
	background-color: #002E6E;
	border-radius: 0px;
}

.navbar .navbar-inverse {
  display: inline-block;
  float: none;
  vertical-align: top;
  text-align: center;
}

th {
	background-color: #003C8F;
	color: #FFFFFF;
}

.glyphicon {
	margin-right: 15px;
}

.sidebar {
	width: 241px;
	padding: 10px;
	display: inline-block;
	float: right;
	border-left: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
}

.btn, .select {
	margin: 5px;
}

div {
	text-align: center;
}

.table {
	text-align: left;
}

h3, h5 {
	text-align: center;
}

.container {
	text-align: center;
}

.tabs .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

.tabs .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}

.footer {
	text-align: center;
	padding: 0.75%;
	background-color: #FFFFFF;
}