{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Ooops!!{% endblock %}

{% block body %}
	<div class="container">
		<h1><b>A problem has occurred. Please go back</b></h1>
	</div>
{% endblock %}