{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Form{% endblock %}

{% block body %}
	{% if error == true %}
		<h3>Invalid username or password</h3>
	{% endif %}
    <form action="" method="POST" name="loginForm" onsubmit="return(validate());">
    	Username <input id="username" type="text"><br>
	  	Password <input id="password" type="text"><br>
	  	<input id="loginButton" type="submit" value="Log in">
	</form>
{% endblock %}

{% block javascript %}

{% endblock %}