{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Home{% endblock %}

{% block menu %}
	<div id="navmenu"> 
		<ul>
		  <li><a href="http://fantasy/app.php/teams">Home</a></li>
		  <li><a href="http://fantasy/app.php/teams">Teams</a></li>
		  <li><a href="http://fantasy/app.php/leagues/join">Leagues</a></li>
		  <li><a href="http://fantasy/app.php/forum">Forum</a></li>
		  <li><a href="http://fantasy/app.php/rules">Rules</a></li>
		  <li><a href="http://fantasy/app.php/contact">Contact</a></li>
		  <li><a href="http://fantasy/app.php/exit">Exit</a></li>
		</ul>
	</div>
{% endblock %}