{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Home{% endblock %}

{% block menu %}
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <ul class="nav navbar-nav side-nav">
		  <li><a href="{{ path('user_listTeams') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
		  <li><a href="{{ path('user_listTeams') }}">Teams</a></li>
		  <li><a href="{{ path('user_joinLeague') }}">Leagues</a></li>
		  <li><a href="">Forum</a></li>
		  <li><a href="">Rules</a></li>
		  <li><a href="">Contact</a></li>
		  <li><a href="{{ path('user_exit') }}">Exit</a></li>
		</ul>
	  </div>
	</nav>
{% endblock %}