{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Welcome{% endblock %}

{% block body %}
	<div class="container">
		<div class="col-md-6 text-center">
			<h1><b>Fantasy League</b></h1>
			<div class="well">
				<form action="" method="post" id="welcomeLoginForm" name="welcomeLoginForm">
					<button class="btn btn-primary" id="loginButton" type="submit" value="Log in">Log in</button>
					<button class="btn btn-primary" id="signupButton" type="submit" value="Sign up">Sign up</button>
				</form>
			</div>
		</div>
	</div>b
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(
			function initialize()
			{
				$("#loginButton").click(
					function()
					{
			   			$(this).closest("form").attr("action", "{{ path('user_login') }}");  
					}
				);

				$("#signupButton").click(
					function()
					{
			   			$(this).closest("form").attr("action", "{{ path('user_signup') }}");     
					}
				);
			}
		);
	</script>
{% endblock %}