{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Log in{% endblock %}

{% block body %}
	{% if error %}
		<h3 id="errorMessage">{{ error }}</h3>
	{% endif %}
    <form action="" method="POST" name="loginForm" onsubmit="return(validate());">
    	<label>Username</label>
    	<input id="inputUsername" type="text" name="username" placeholder="Email address"><br>
	  	<label>Password</label>
	  	<input id="inputPassword" type="password" name="password" placeholder="Password"><br>
	  	<button class="btn btn-primary" id="loginButton" type="submit">Log in</button>
	</form>

	<script>
	    $(document).ready(
		    function validate()
		    {
		        $('#loginButton').click(
			        function()
			        {
			        	if ($('#inputUsername').val().length != 0 && $('#inputUsername').val().length < 30)
			        	{
			        		if ($('#inputPassword').val().length != 0 && $('#inputPassword').val().length < 30)
			        		{
			        			$(this).closest("form").attr("action", "{{ path('user_loginAttempt') }}");
			        			return true;
			        		}
			        		else
			        		{	
				        		alert("The password must be 1-30 characters");
				        		$('#inputPassword').focus();
				        		return false;
			        		}
			        	}
			        	else
			        	{
			        		alert("The username must be 1-30 characters");
			        		$('#inputUsername').focus();
			        		return false;
			        	}
			        }
			    );
		    }
		);
	</script>
{% endblock %}