{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Log in{% endblock %}

{% block body %}
	{% if error == true %}
		<h3>Invalid username or password</h3>
	{% endif %}
    <form action="" method="POST" name="loginForm" onsubmit="return(validate());">
    	Username <input id="username" type="text" name="username"><br>
	  	Password <input id="password" type="text" name="password"><br>
	  	<input id="loginButton" type="submit" value="Log in">
	</form>

	<script>
	    $(document).ready(
		    function validate()
		    {
		        $('#loginButton').click(
			        function()
			        {
			        	if ($('#username').val().length != 0 && $('#username').val().length < 30)
			        	{
			        		if ($('#password').val().length != 0 && $('#password').val().length < 30)
			        		{
			        			$(this).closest("form").attr("action", "http://fantasy/app_dev.php/attempt/" + $('#username').val() + "/" + $('#password').val());
			        			return true;
			        		}
			        		else
			        		{	
				        		alert("The password must be 1-30 characters");
				        		$('#password').focus();
				        		return false;
			        		}
			        	}
			        	else
			        	{
			        		alert("The username must be 1-30 characters");
			        		$('#username').focus();
			        		return false;
			        	}
			        }
			    );
		    }
		);
	</script>
{% endblock %}