{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Log in{% endblock %}

{% block body %}

	<div class="container">
		<div class="col-md-4 text-center">
			<legend>Log in information</legend>

			{% if message %}
				<h4 id="message">{{ message }}</h4>
			{% endif %}

		    <form class="horizontal-form" role="form" action="" method="POST" onsubmit="return(validate());">
		    	<div class="form-group">
		    		<label class="control-label col-md-4 text-right" for="username">Username</label>
		    		<div class="col-md-8">
		    			<input class="form-control" type="text" name="username" id="inputUsername" placeholder="Username" required autofocus>
		    		</div>
		    	</div>
		    	
		    	<div class="form-group">
		    		<label class="control-label col-md-4 text-right" for="password">Password</label>
		    		<div class="col-md-8">
		    			<input class="form-control" type="password" name="password" id="inputPassword" placeholder="Password" required>
		    		</div>
		    	</div>
			  	<button class="btn btn-primary" id="loginButton" type="submit">Log in</button></br>
			  	<a href="{{ path('admin_home') }}">Log in as administrator</a>
			</form>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
	    $(document).ready(
		    function validate()
		    {
		        $('#loginButton').click(
			        function()
			        {
			        	if ($('#inputUsername').val().length < 30)
			        	{
			        		if ($('#inputPassword').val().length < 30)
			        		{
			        			$(this).closest("form").attr("action", "{{ path('user_loginAttempt') }}");
			        			return true;
			        		}
			        		else
			        		{	
				        		alert("The password must be 1-30 characters");
				        		$('#inputPassword').focus();
				        		return false;
			        		}
			        	}
			        	else
			        	{
			        		alert("The username must be 1-30 characters");
			        		$('#inputUsername').focus();
			        		return false;
			        	}
			        }
			    );
		    }
		);
	</script>
{% endblock %}