{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Log in{% endblock %}

{% block body %}
	{% if error %}
		<h3 id="errorMessage">{{ error }}</h3>
	{% endif %}
    <form action="" method="POST" name="loginForm" onsubmit="return(validate());">
    	Username <input id="username" type="text" name="username" placeholder="Email address"><br>
	  	Password <input id="password" type="password" name="password" placeholder="Password"><br>
	  	<button id="loginButton" type="submit">Log in</button>
	</form>

	<script>
	    $(document).ready(
		    function validate()
		    {
		        $('#loginButton').click(
			        function()
			        {
			        	if ($('#username').val().length != 0 && $('#username').val().length < 30)
			        	{
			        		if ($('#password').val().length != 0 && $('#password').val().length < 30)
			        		{
			        			$(this).closest("form").attr("action", "{{ path('user_loginAttempt') }}");
			        			return true;
			        		}
			        		else
			        		{	
				        		alert("The password must be 1-30 characters");
				        		$('#password').focus();
				        		return false;
			        		}
			        	}
			        	else
			        	{
			        		alert("The username must be 1-30 characters");
			        		$('#username').focus();
			        		return false;
			        	}
			        }
			    );
		    }
		);
	</script>
{% endblock %}