{% extends "UserBundle:User:formlayout.html.twig" %}
{% block title %}Fantasy - Sign up{% endblock %}

{% block body %}
	{% if message %}
		<h3 id="message">{{ message }}</h3>
	{% endif %}
    <form action="" method="POST" onsubmit="return(validate());">
    	Username <input id="username" type="text" name="username" placeholder="Username"><br>
	  	Password <input id="password" type="text" name="password" placeholder="Password"><br>
    	First name <input id="name" type="text" name="name" placeholder="First name"><br>
    	Email <input id="email" type="text" name="email" placeholder="Email address"><br>
	  	<button id="signupButton" type="submit">Sign up</button>
	</form>

	<script>
		$(document).ready(
	    function validate()
	    {
	        $('#signupButton').click(
	        function()
	        {
	        	if ($('#username').val().length != 0 && $('#username').val().length <= 30)
	        	{
	        		if ($('#password').val().length != 0 && $('#password').val().length <= 30)
	        		{
	        			if ($('#name').val().length != 0 && $('#name').val().length <= 30)
	        			{
	        				if ($('#email').val().length != 0 && $('#email').val().length <= 50)
	        				{
	        					$(this).closest("form").attr("action", "{{ path('user_signupAttempt') }}");
	        					return true;
	        				}
	        				else
	        				{
	        					alert("The email must be 1-50 characters");
				        		$('#email').focus();
				        		return false;
	        				}
	        			}
	        			else
	        			{
	        				alert("The name must be 1-30 characters");
			        		$('#name').focus();
			        		return false;
	        			}
	        		}
	        		else
	        		{
		        		alert("The password must be 1-30 characters");
		        		$('#password').focus();
		        		return false;
	        		}
	        	}
	        	else
	        	{
	        		alert("The username must be 1-30 characters");
	        		$('#username').focus();
	        		return false;
	        	}
	        });
	    });
	</script>
{% endblock %}

{% block javascript %}

{% endblock %}