<div class="container tabs">	
	<ul class="nav nav-pills">
		<li><a href="{{ path('user_showRanking') }}" data-toggle="tab">Ranking</a></li>
		<li><a href="{{ path('user_showTeam', {'edit': 0}) }}" data-toggle="tab">Show team</a></li>
		<li><a href="{{ path('user_showTeam', {'edit': 1}) }}" data-toggle="tab">Manage team</a></li>
			<li><a href="{{ path('user_showMarket') }}" data-toggle="tab">Market</a></li>
	</ul>
</div>