{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Admin{% endblock %}

{% block menu %}
	<div id="navmenu"> 
		<ul>
		  <li><a href="http://fantasy/app_dev.php/admin/players">Players</a></li>
		  <li><a href="http://fantasy/app_dev.php/teams">Teams</a></li>
		  <li><a href="http://fantasy/app_dev.php/admin/leagues">Leagues</a></li>
		  <li><a href="http://fantasy/app_dev.php/admin/logout">Exit</a></li>
		</ul>
	</div>
{% endblock %}