{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - League{% endblock %}

{% block body %}
    <div id="navmenu"> 
		<ul>
		  <li><a href="http://fantasy/app_dev.php/admin/leagues/create">Add league</a></li>
		  <li><a href="http://fantasy/app_dev.php/admin/leagues/list/true">Edit league</a></li>
		  <li><a href="http://fantasy/app_dev.php/admin/leagues/list/false">Remove league</a></li>
		  <li><a href="http://fantasy/app_dev.php/admin/logout">Exit</a></li>
		</ul>
	</div>

	{% if message != false %}
		<h3>{{ message }}</h3>
	{% endif %}

	<script>
		$(document).ready(
	    function validate()
	    {
	        $('#signupButton').click(
	        function()
	        {
	        	
	        }
	    });
	</script>
{% endblock %}

{% block javascript %}

{% endblock %}