{% extends "UserBundle:User:formlayout.html.twig" %}
{% block title %}Fantasy - Log in{% endblock %}

{% block body %}
    <form action="{{ path('admin_login_check') }}" method="POST" class="login">
	    <label for="username">Usuario:</label>
	    <input type="text" id="username" name="_username" value="{{ last_username }}"/>

	    <label for="password">Contraseña:</label>
	    <input type="password" id="password" name="_password" />

	  	<button id="loginButton" type="submit">Logout</button>
	</form>
{% endblock %}