{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - League password{% endblock %}

{% block body %}
    <form action="" method="POST" name="teamForm" onsubmit="return(validate());">
    	League password <input id="league_password" type="password" name="league_password" placeholder="Password"><br>
	  	<input id="passwordButton" type="submit" value="Submit">
	  	<input id="cancelButton" type="submit" value="Cancel">
	</form>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(
	    function validate()
	    {
	        $('#passwordButton').click(
	        function()
	        {
	        	if ($('#league_password').val().length != 0 && $('#league_password').val().length <= 30)
	        	{
	        		//The input password must be compared to the actual password
	        		$(this).closest("form").attr("action", "{{ path('user_newTeam', {'league_id': league_id}) }}");
	        	}
	        	else
	        	{
	        		alert("The password must be 1-30 characters");
	        		$('#league_password').focus();
	        		return false;
	        	}
	        });

	        $('#cancelButton').click(
	        function()
	        {
	        	$(this).closest("form").attr("action", "{{ path('user_home') }}");
	        });
	    });
	</script>
{% endblock %}