{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Join league{% endblock %}

{% block body %}
	<div class="container col-md-4">
		{% if message %}
			<h4 id="message">{{ message }}</h4>
		{% endif %}
		<form action="" method="POST" name="leaguePasswordForm" onsubmit="return(validate());">
			<div class="form-group">
				<label class="control-label col-md-6 text-right" for="inputPassword">League password</label>
				<div class="col-md-6">
					<input class="form-control" id="league_password" type="password" name="league_password" placeholder="Password" required autofocus>
				</div>
			</div>
			<button class="btn btn-primary" id="passwordButton" type="submit">Submit</button>
			<button class="btn btn-danger" id="cancelButton" type="submit">Cancel</button>
		</form>
    </div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(
		    function validate()
		    {
		        $('#passwordButton').click(
			        function()
			        {
			        	if ($('#league_password').val().length != 0 && $('#league_password').val().length <= 30)
			        	{
			        		$(this).closest("form").attr("action", "{{ path('user_checkLeaguePassword', {'league_id': league_id}) }}");
			        	}
			        	else
			        	{
			        		alert("The password must be 1-30 characters");
			        		$('#league_password').focus();
			        		return false;
			        	}
			        }
			    );

		        $('#cancelButton').click(
			        function()
			        {
			        	$(this).closest("form").attr("action", "{{ path('user_listTeams') }}");
			        }
			    );
		    }
		);
	</script>
{% endblock %}