{% extends "UserBundle::layout.html.twig" %}
{% block title %}Fantasy - Leagues{% endblock %}

{% block body %}
	{% if message %}
		<h4 id="message">{{ message }}</h4>
	{% endif %}
	<legend>Leagues</legend>
	<h5>Click on a league below to join it</h5>
	<div class="list-group">
		{% for item in items %}
			<a href="{{ path('user_leaguePassword', {'league_id': item.getLeagueId()}) }}" class="list-group-item">{{ item.getLeagueName() }}</a>
		{% endfor %}
	</div>
{% endblock %}